services:
  - type: web
    name: vibecheck
    runtime: docker
    dockerfilePath: ./docker/app/Dockerfile
    dockerContext: .
    envVars:
      - key: FLASK_ENV
        value: production
      - key: OUTPUT_DIR
        value: /app/data
      - key: DB_PATH
        value: /app/data/vibecheck.db
      - key: IMAGE_DIR
        value: /app/data/images
      - key: FAISS_PATH
        value: /app/data/vibecheck_index.faiss
      - key: META_PATH
        value: /app/data/meta_ids.npy
      - key: VIBE_MAP_CSV
        value: /app/data/vibe_map.csv
      - key: OMP_NUM_THREADS
        value: "1"
      - key: MKL_NUM_THREADS
        value: "1"
      - key: PYTORCH_CUDA_ALLOC_CONF
        value: "max_split_size_mb:128"
      - key: TOKENIZERS_PARALLELISM
        value: "false"
    plan: free
    healthCheckPath: /
    startCommand: bash -c "./download_data.sh && gunicorn -w 1 --threads 2 --timeout 300 --graceful-timeout 300 -b 0.0.0.0:8080 app:app"
