streamlit
torch>=2.2,<3.0
faiss-cpu==1.8.0.post2
transformers>=4.45.0
sentence-transformers>=3.0.0
huggingface-hub>=1.0.0
pillow
numpy
pandas
sentencepiece
accelerate
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git

